/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 35px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  column-gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--outline:hover, .button--outline:active, .button--outline.button--active {
  --ifm-button-color: var(--ifm-font-color-base-inverse);
}