/**
  Credit: https://codepen.io/harmputman/pen/IpAnb
**/

body {
  font: normal 300 1em/1.5em sans-serif;
}

.container {
  background: #fff;
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  margin: 2em auto 0;
  padding: 1.5em;
  opacity: 0.8;
  border-radius: 1em;
  border-color: #117;
}

p {
  margin-bottom: 1.5em;
}
p:last-child {
  margin-bottom: 0;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  color: #117;
}
blockquote:before {
  content: "\201C";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em sans-serif;
  color: #666;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e70000;
}

/* https://fdossena.com/?p=html5cool/buttons/i.frag */
button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #000;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
