{
	"fixed": {
		"file_version": "{{.ProductVersion}}"
	},
	"info": {
		"0000": {
			"ProductVersion": "{{.ProductVersion}}",
			"CompanyName": "{{.ProductCompany}}",
			"FileDescription": "{{.ProductDescription}}",
			"LegalCopyright": "{{.ProductCopyright}}",
			"ProductName": "{{.ProductName}}",
			"Comments": "{{.ProductComments}}"
		}
	}
}