package main

import (
	"github.com/gobuffalo/packr"
	"github.com/wailsapp/wails"
)

func basic() string {
	return "Hello World!"
}

func main() {

	assets := packr.NewBox("./frontend/dist")

	app := wails.CreateApp(&wails.AppConfig{
		Width:  1024,
		Height: 768,
		Title:  "{{.Name}}",
		JS:     wails.BoxString(&assets, "app.js"),
		CSS:    wails.BoxString(&assets, "app.css"),
	})
	app.Bind(basic)
	app.Run()
}
