package main

import (
	"github.com/leaanthony/mewn"
	"github.com/wailsapp/wails"
)

func basic() string {
	return "Hello World!"
}

func main() {

	app := wails.CreateApp(&wails.AppConfig{
		Width:  1024,
		Height: 768,
		Title:  "{{.Name}}",
		JS:     mewn.String("./frontend/dist/app.js"),
		CSS:    mewn.String("./frontend/dist/app.css"),
	})
	app.Bind(basic)
	app.Run()
}
