/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme="light"] .button--secondary {
    --ifm-button-border-color: var(--ifm-font-color-base);
}

/* customs css */
:root {
    --ifm-color-primary: #df0000;
    --ifm-color-primary-dark: rgb(156, 0, 0);
    --ifm-color-primary-darker: rgb(120, 0, 0);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;
    --ifm-button-color: white;
    --ifm-container-width-xl: 95%;
    --ifm-font-color-base-inverse: #df0000;
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

.prism-code {
    counter-reset: line-number;
}

.carousel-root {
    padding-left: 2%;
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .carousel-root {
        padding-left: 2%;
        width: 100%;
    }
}


@media screen and (max-width: 966px) {
    .carousel-root {
        padding-left: 2%;
        width: 90%;
    }
}

.prism-code.language-js .token-line::before,
.prism-code.language-ts .token-line::before,
.prism-code.language-go .token-line::before {
    counter-increment: line-number;
    content: counter(line-number);
    margin-right: calc(var(--ifm-pre-padding) * 1.5);
    text-align: right;
    min-width: 1.5rem;
    display: inline-block;
    opacity: 0.3;
    position: sticky;
    left: var(--ifm-pre-padding);
    border-right: 1px solid;
    padding-right: 0.5rem;
}

.button.button--secondary:hover {
    color: var(--ifm-color-primary);
    background-color: transparent;
    border-color: var(--ifm-color-primary);
}

.screenshot {
    box-shadow: rgb(255 255 255 / 20%) 0 4px 8px 0, rgb(104 104 104) 0 6px 20px 0;
}