{{- $imports := .Imports}}
{{- $collector := .Collector}}{
{{- range $i, $field := .Fields}}
    {{- if gt $i 0}}, {{end -}}
    "{{js .Name}}"{{if .Optional}}?{{end}}: {{jstypeq .Type $imports $collector .Quoted}}
{{- end -}} }{{print "" -}}
