{{- $depth := .Depth}}
{{- $tgt := .Target}}
{{- $src := .Source}}
{{- $indent := .Indent}}
{{- $TS := .TS}}
{{- $imports := .Imports}}
{{- $collector := .Collector}}
{{- range $i, $field := .Fields}}
    {{- jscreated
        $depth
        (printf "\"%s\" in %s" (js .Name) $src)
        (printf "%s[\"%s\"]" $tgt (js .Name))
        (printf "%s[\"%s\"]" $src (js .Name))
        .Type $imports $collector
        .Quoted $TS $indent
    }}
    {{- if not .Optional}} else {
        $tgt["{{js .Name}}"] = {{jsdefault $field.Type $imports $collector $field.Quoted false}};
    }
    {{- end}}
{{- end -}}
