{{/* This template should render to a single newline (either LF or CRLF). */}}
{{/*
    Git might be configured to rewrite LF newlines to CRLF
    in templates, test cases and data, especially on Windows.
    Having a newline template enables detection of the current newline mode.
*/ -}}
