package main

import (
	wails "github.com/wailsapp/wails"
)

var html = `
<div style='text-align:center'>
<h1> Custom </h1>
Welcome to your basic Wails app with added CSS!
</div>
`

func main() {

	// Initialise the app
	app := wails.CreateApp(&wails.AppConfig{
		Width:  800,
		Height: 600,
		Title:  "{{.Name}}",
		HTML:   html,
	})
	app.Run()
}
