examples/kitchensink/kitchensink
cmd/wails3/wails
/examples/systray-menu/systray
/examples/window/window
/examples/dialogs/dialogs
/examples/menu/menu
/examples/clipboard/clipboard
/examples/plain/plain
/cmd/wails3/ui/.task/
!internal/commands/webview2/MicrosoftEdgeWebview2Setup.exe
