
[data-md-color-scheme="slate"] {
    --md-hue: 208;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
    --md-accent-fg-color: #ff4646;
    --md-primary-fg-color: #2a2a2a;
    --md-default-bg-color: #191919;
    --md-footer-bg-color--dark: #2a2a2a;
    --md-default-fg-color: #e0e0e0;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    fill: currentcolor;
    display: block;
    height: 2rem;
    width: auto;
}

.md-typeset {
    font-weight: 100;
}
