# Feel free to remove those if you don't want/need to use them.
# Make sure to check the documentation at https://nfpm.goreleaser.com
#
# The lines below are called `modelines`. See `:help modeline`

name: "{{.BinaryName}}"
arch: ${GOARCH}
platform: "linux"
version: "{{.ProductVersion}}"
section: "default"
priority: "extra"
maintainer: ${GIT_COMMITTER_NAME} <${GIT_COMMITTER_EMAIL}>
description: "{{.ProductDescription}}"
vendor: "{{.ProductCompany}}"
homepage: "https://wails.io"
license: "MIT"
release: "1"

contents:
  - src: "./bin/{{.BinaryName}}"
    dst: "/usr/local/bin/{{.BinaryName}}"
  - src: "./build/appicon.png"
    dst: "/usr/share/icons/hicolor/128x128/apps/{{.BinaryName}}.png"

# replaces:
#   - foobar
# provides:
#   - bar
# depends:
#   - foo
#   - bar
# recommends:
#   - whatever
# suggests:
#   - something-else
# conflicts:
#   - not-foo
#   - not-bar
# changelog: "changelog.yaml"
# scripts:
#   preinstall: ./build/nfpm/scripts/preinstall.sh
#   postinstall: ./build/nfpm/scripts/postinstall.sh
#   preremove: ./build/nfpm/scripts/preremove.sh
#   postremove: ./build/nfpm/scripts/postremove.sh
