name: "{{.BinaryName}}"
arch: "amd64"
platform: "linux"
version: "{{.ProductVersion}}"
section: "default"
priority: "extra"
maintainer: "{{.ProductCompany}}"
description: "{{.ProductDescription}}"
vendor: "{{.ProductCompany}}"
homepage: "https://wails.io"
license: "MIT"
release: "1"

contents:
  - src: "../../bin/{{.BinaryName}}"
    dst: "/usr/bin/{{.BinaryName}}"
  - src: "../appicon.png"
    dst: "/usr/share/icons/hicolor/128x128/apps/{{.BinaryName}}.png"
  - src: "{{.BinaryName}}.desktop"
    dst: "/usr/share/applications/{{.BinaryName}}.desktop"
