package main

import (
	"embed"
	_ "embed"
	"log"

	"github.com/wailsapp/wails/v3/pkg/application"
)

//go:embed frontend/dist
var assets embed.FS

func main() {
	app := application.New(application.Options{
		Name:        "{{.ProjectName}}",
		Description: "A demo of using raw HTML & CSS",
        Bind: []any{
            &GreetService{},
        },
		Assets: application.AssetOptions{
			FS: assets,
		},
		Mac: application.MacOptions{
			ApplicationShouldTerminateAfterLastWindowClosed: true,
		},
	})
	// Create window
	app.NewWebviewWindowWithOptions(application.WebviewWindowOptions{
		Title: "Window 1",
		Mac: application.MacWindow{
			InvisibleTitleBarHeight: 50,
			Backdrop:                application.MacBackdropTranslucent,
			TitleBar:                application.MacTitleBarHiddenInset,
		},
        BackgroundColour: application.NewRGB(36, 36, 36),
		URL: "/",
	})

    go func() {
        for {
            now := time.Now().Format(time.RFC1123)
            app.Events.Emit(&application.WailsEvent{
                Name: "time",
                Data: now,
            })
            time.Sleep(time.Second)
        }
    }()

	err := app.Run()

	if err != nil {
		log.Fatal(err)
	}
}
