<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleName</key>
        <string>{{.ProductName}}</string>
        <key>CFBundleExecutable</key>
        <string>{{.BinaryName}}</string>
        <key>CFBundleIdentifier</key>
        <string>{{.ProductIdentifier}}</string>
        <key>CFBundleVersion</key>
        <string>{{.ProductVersion}}</string>
        <key>CFBundleGetInfoString</key>
        <string>{{.ProductComments}}</string>
        <key>CFBundleShortVersionString</key>
        <string>{{.ProductVersion}}</string>
        <key>CFBundleIconFile</key>
        <string>icons</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.15.0</string>
        <key>NSHighResolutionCapable</key>
        <string>true</string>
        <key>NSHumanReadableCopyright</key>
        <string>{{.ProductCopyright}}</string>
    </dict>
</plist>