{
  "name": "{{.NPMProjectName}}",
  "author": "{{.Author.Name}}<{{.Author.Email}}>",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "serve": "vue-cli-service serve",
    "build": "vue-cli-service build"
  },
  "dependencies": {
    "vue": "^2.5.17"
  },
  "devDependencies": {
    "@vue/cli-plugin-babel": "^3.1.1",
    "@vue/cli-service": "^3.1.4",
    "vue-template-compiler": "^2.5.17"
  }
}