// models.d.ts
// This file should contain any models that are used by the plugin.

export namespace {{.Name}}Plugin {
  export interface Hashes {
    MD5: string;
    SHA1: string;
    SHA256: string;
  }
}