# Feel free to remove those if you don't want/need to use them.
# Make sure to check the documentation at https://nfpm.goreleaser.com
#
# The lines below are called `modelines`. See `:help modeline`

name: "{{.BinaryName}}"
arch: ${GOARCH}
platform: "linux"
version: "{{.ProductVersion}}"
section: "default"
priority: "extra"
maintainer: ${GIT_COMMITTER_NAME} <${GIT_COMMITTER_EMAIL}>
description: "{{.ProductDescription}}"
vendor: "{{.ProductCompany}}"
homepage: "https://wails.io"
license: "MIT"
release: "1"

contents:
  - src: "./bin/{{.BinaryName}}"
    dst: "/usr/local/bin/{{.BinaryName}}"
  - src: "./build/appicon.png"
    dst: "/usr/share/icons/hicolor/128x128/apps/{{.BinaryName}}.png"
  - src: "./build/linux/{{.BinaryName}}.desktop"
    dst: "/usr/share/applications/{{.BinaryName}}.desktop"

# Default dependencies for Debian 12/Ubuntu 22.04+ with WebKit 4.1
depends:
  - libgtk-3-dev
  - libwebkit2gtk-4.1-dev
  - build-essential
  - pkg-config

# Distribution-specific overrides for different package formats and WebKit versions
overrides:
  # RPM packages for RHEL/CentOS/AlmaLinux/Rocky Linux (WebKit 4.0)
  rpm:
    depends:
      - gtk3-devel
      - webkit2gtk3-devel
      - gcc-c++
      - pkg-config
  
  # Arch Linux packages (WebKit 4.1)  
  archlinux:
    depends:
      - gtk3
      - webkit2gtk-4.1
      - base-devel
      - pkgconf

# scripts section to ensure desktop database is updated after install
scripts:
  postinstall: "./build/linux/nfpm/scripts/postinstall.sh"
  # You can also add preremove, postremove if needed
  # preremove: "./build/linux/nfpm/scripts/preremove.sh"
  # postremove: "./build/linux/nfpm/scripts/postremove.sh"

# replaces:
#   - foobar
# provides:
#   - bar
# depends:
#   - gtk3
#   - libwebkit2gtk
# recommends:
#   - whatever
# suggests:
#   - something-else
# conflicts:
#   - not-foo
#   - not-bar
# changelog: "changelog.yaml"