
	// Convert []string to COM string array (LPCWSTR*)
	{{.Param.LocalName}}ptrs := make([]*uint16, len({{.Param.Name}}))
	for _i, _s := range {{.Param.Name}} {
		_p, err := UTF16PtrFromString(_s)
		if err != nil {
			return {{.ErrorValues}}
		}
		{{.Param.LocalName}}ptrs[_i] = _p
	}
	var {{.Param.LocalName}} **uint16
	if len({{.Param.LocalName}}ptrs) > 0 {
		{{.Param.LocalName}} = &{{.Param.LocalName}}ptrs[0]
	}