html {
    background-color: rgba(33, 37, 43);
    text-align: center;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    height: 100vh;
    width: 100%;
}

body {
    padding-top: 40px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    overscroll-behavior: none;
    overflow-y: hidden;
    background-image: url("/files/images/eryri1.png");
    background-color: rgba(33, 37, 43, 0.85);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.logo {
    width: 30%;
    height: 20%;
}
/* CSS */
.button-42 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #555555, #2f2f2f);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 35px;
    line-height: 35px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    font-size: medium;
}
p {
    font-size: 1rem;
}

.button-42:hover {
    background-image: linear-gradient(-180deg, #cb3939, #610000);
}
html {
    background-color: rgba(33, 37, 43);
    text-align: center;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

body {
    padding-top: 40px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    overscroll-behavior: none;
}

.button-42 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #555555, #2f2f2f);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 35px;
    line-height: 35px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    font-size: medium;
}

p {
    font-size: 1rem;
}

.button-42:hover {
    background-image: linear-gradient(-180deg, #cb3939, #610000);
}

.tab {
    overflow: hidden;
    background-color: #f1f1f100;
    margin-left: 20px;
}

.tab button {
    background-color: transparent; /* Make the background transparent */
    color: white; /* Make the text white */
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    position: relative; /* Added for the underline */
}

.tab button::after { /* Added for the underline */
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a40505;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.tab button:hover::after, /* Added for the underline */
.tab button.active::after { /* Added for the underline */
    width: 100%;
    visibility: visible;
}

.tab button.active {
    background-color: transparent; /* Make the background transparent */
    color: red;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
#sqlresults, #hashresults {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100px;
}
#selectquery {
    width: 90%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #005467;
    color: white;
}

tr:hover {
    background-color: #888;
}

.error-message {
    color: #FF4B2B; /* Bright red color for better visibility in dark mode */
    background-color: #1E1E1E; /* Dark background for the error message */
    border: 1px solid #FF4B2B; /* Border color same as text color */
    padding: 10px; /* Padding around the text */
    margin: 10px 0; /* Margin top and bottom */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center the text */
}

.narrowColumn {
    width: 1%;  /* Adjust as needed */
    white-space: nowrap;
}