<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/wails.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>Wails App</title>
</head>
<body>
<div class="container">
    <div>
        <a data-wml-openURL="https://wails.io">
            <img src="/wails.png" class="logo" alt="Wails logo"/>
        </a>
        <a data-wml-openURL="https://www.typescriptlang.org/">
            <img src="/typescript.svg" class="logo vanilla" alt="Typescript logo"/>
        </a>
    </div>
    <h1>Wails + Typescript</h1>
    <div class="result" id="result">Please enter your name below 👇</div>
    <div class="card">
        <div class="input-box" id="input">
            <input class="input" id="name" type="text" autocomplete="off"/>
            <button class="btn" id="greet">Greet</button>
        </div>
    </div>
    <div class="footer">
        <div><p>Click on the Wails logo to learn more</p></div>
        <div><p id="time">Listening for Time event...</p></div>
    </div>
</div>
<script type="module" src="/src/main.ts"></script>
</body>
</html>
