package main

import (
	wails "github.com/wailsapp/wails"
)

var html = `
<div style='text-align:center'>
<h1> Basic Template </h1>
Welcome to your basic Wails app!
</div>
`

func main() {

	// Initialise the app
	app := wails.CreateApp(&wails.AppConfig{
		Width:  1024,
		Height: 768,
		Title:  "{{.Name}}",
		HTML:   html,
	})
	app.Run()
}
