{{$pkg := .Package}}
export namespace {{.Package}} {
    {{range $enumindex, $enumdef := .Enums}}
    {{- range $commentindex, $commentdef := .DocComments}}
        {{$commentdef -}}
    {{- end}}
    export enum {{$enumdef.Name}} {
        {{- range $constindex, $constdef := .Consts}}
        {{- if $constdef.DocComment}}
        // {{$constdef.DocComment}}
        {{- end}}
        {{$constdef.Name}} = {{$constdef.Value}},{{end}}
    }
    {{- end}}
    {{range $name, $def := .Models}}
    export interface {{$def.Name}} { {{range $def.Fields}}
        {{.JSDef $pkg}}{{end}}
    }
    {{end}}
}
