name: release
on:
  push:
    branches:
    - master
    tags:
    - '!**pre**'
jobs:

  build:
    name: Test Build Latest Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:

      - name: Set up Go 1.16
        uses: actions/setup-go@v1
        with:
          go-version: 1.16
        id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        go get -v -d ./...
    - name: Build
      run: go build -v ./cmd/wails

    - name: Test
      run: ./wails version